<div class="container">
  <h1 id="title">
    CardLI: Fuss-free <br />
    Flashcards for CLI
  </h1>
  <br />
  <div>
    <a href="https://github.com/AY2122S1-CS2113T-F12-1/tp" id="git-button">
      <button>
        <p>
          <fa-icon [icon]="faGithub" size="lg" display="inline-flex"></fa-icon>
          <span class="button-text">&nbsp;See on Github</span>
        </p>
      </button>
    </a>
  </div>
  <br />
  <h2>Table of Contents</h2>
  <br />
  <ul>
    <li class="header">
      <p><a href="/cardli#about">About CardLI</a></p>
    </li>

    <li class="header">
      <p><a href="/cardli#dev">Development Process</a></p>
    </li>

    <li class="subheader">
      <p><a href="/cardli#mile1">Milestone 1</a></p>
    </li>
    <li class="subheader">
      <p><a href="/cardli#mile2">Milestone 2</a></p>
    </li>
    <li class="subsubheader">
      <p><a href="/cardli#testing">User Testing</a></p>
    </li>
    <li class="header">
      <p><a href="/cardli#video">Showcase Video</a></p>
    </li>
    <li class="header">
      <p><a href="/cardli#learning">Learning Points</a></p>
    </li>
  </ul>
  <br />
  <h2 id="about">About CardLI</h2>
  <img src="../../../assets/CardLi_Logo.png" alt="" id="logo" />
  <br />
  <p>
    CardLI is a Command line Interface (CLI) desktop app that helps students
    manage their flashcards. It also allows students to test and review their
    knowledge. All of this in one single platform.
    <br />
    <br />
    CardLI provides a user-friendly, storage efficient and internet connection
    independent flashcard experience to students in institutes of higher
    education, who are able to type fast and are reasonably comfortable using
    CLI apps.
    <br />
    <br />
    My contributions to this team project were:
  </p>
  <ul>
    <li>
      Implementing the function to add a new deck of flashcards to the program
    </li>
    <li>
      Implementing the function to add a new flashcard to a deck of flashcards
    </li>
    <li>
      Implementing a search system that returns flashcards matching the search
      term to the user
    </li>
  </ul>
  <br />
  <h2 id="dev">Development Process</h2>
  <br />
  <p>The application was developed in two iterative stages, or milestones.</p>
  <br />
  <h3 id="mile1">Milestone 1</h3>
  <br />
  <p>Milestone 1 featured:</p>
  <ul>
    <li>
      Usage instructions for the user to refer to if they forget how to use the
      application
    </li>
    <li>A function to add flashcards</li>
    <li>A function to delete flashcards</li>
    <li>A function to view flashcards</li>
    <li>
      A test function that allowed the user to test themselves with their
      flashcards
    </li>
    <li>
      A function to display the list of incorrectly answered flashcards upon the
      conclusion of a round of testing
    </li>
  </ul>
  <br />
  <h3 id="mile2">Milestone 2</h3>
  <br />
  <p>
    Along with all the functionalities of Milestone 1, Milestone 2 featured:
  </p>
  <br />
  <ul>
    <li>A function to shuffle flashcards for testing</li>
    <li>A function to edit flashcards</li>
    <li>
      Functions to add, edit and delete decks that would serve as a set to keep
      flashcards with related topics in
    </li>
    <li>A timer for test mode</li>
    <li>Test statistics for each flashcard</li>
    <li>
      A review function that would allow the user to test themselves on
      flashcards they answered incorrectly in more than half the total attempts
    </li>
    <li>A search function to find flashcards that matched the search terms</li>
    <li>
      An automatic save system that saved the state of the cards after each
      action
    </li>
  </ul>
  <br />
  <p id="testing"><strong>User Testing</strong></p>
  <br />
  <p>
    System Testing was carried out by a team of testers to spot bugs in the
    application. These bugs were reported as issues as GitHub, following which
    my team took steps to squash before the final release of the application.
  </p>
  <br />
  <h2 id="video">Showcase Video</h2>
  <br />
  <video controls><source src="../../../assets/CardLI_Demo.mp4" /></video>
  <br />
  <br />
  <h2 id="learning">Learning Points</h2>
  <br />
  <p>
    Working on this project significantly improved on my understanding of
    software engineering, documentation writing and version control. Though it
    still should be said that the project was not without its hiccups. The
    structure of our program underwent major changes even after the delivery of
    Milestone 1 as the my team was unsure of what structure would be the most
    organised and efficient. To avoid this situation we should have planned out
    the structure as a group before beginning to implement the program as being
    clear of the overall structure would allow us to write code that could be
    systematically and modularly implemented into the program.
  </p>
  <br />
  <h4><a routerLink="/projects">Back to Projects</a></h4>
</div>
