<div class="container">
  <img src="../../../assets/jwwy.jpg" alt="" id="jwwy" />
  <h2>About Me</h2>
  <h3>Pursuing knowledge, seeking excellence</h3>
  <br />
  <div class="main-text">
    <p>Hi, I'm Wei Yin. Nice to meet you!</p>
    <br />
    <p>
      I'm an aspiring programmer with experience working with both computer
      software and hardware. A fast learner, I have picked up various skills in
      my areas of interest, namely front-end programming and game development.
      I'm happy to collaborate with people to create pleasant tech experiences
      for clients and audiences.
    </p>
  </div>
</div>
