.main-box {
  height: 100%;
  background: rgb(75, 0, 130);
  background: linear-gradient(
    180deg,
    rgba(75, 0, 130, 1) 0%,
    rgba(128, 0, 128, 1) 100%
  );
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  padding-top: 12.5%;
  padding-bottom: 12.5%;
  padding-left: 12.5%;
  padding-right: 12.5%;
}

.center {
  margin: auto;
  width: 60%;
  height: 75%;
  border-radius: 5px;
  border: 0.3vw solid whitesmoke;
  text-align: center;
  padding: 5% 5% 5% 5%;
}

h1 {
  margin: auto;
  font-size: min(6vw, 50px);
  color: snow;
  transition: color 0.4s;
}

h1:hover {
  color: coral;
}

#nav {
  margin-top: 10px;
  text-align: center;
  word-spacing: 30px;
}

a {
  font-size: min(5vw, 30px);
  text-decoration: none;
  color: skyblue;
  transition: color 0.4s;
}

a:hover {
  color: snow;
}
