<div class="container">
  <h1>My Projects</h1>
  <div class="grid-container">
    <div class="grid-item">
      <div class="card">
        <img src="../../../assets/CardLI.png" alt="" />
        <h4>CardLI: <br />Fuss-free flashcards for CLI</h4>
        <p class="info" id="projects">
          An offline flashcard app designed using the iterative approach,
          programmed in Java. I was in charge of implementing functions to allow
          the user to add decks of flashcards to the program as well as add new
          flashcards to decks. I was also in charge of programming the program's
          flashcard search function.
        </p>
        <p class="link">> Click for more information!</p>
        <a routerLink="/cardli" class="stretched-link"></a>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img src="../../../assets/RTOS_Car.png" alt="" />
        <h4>RTOS Remote Controlled Car</h4>
        <p class="info">
          Working with freeRTOS on the FRDM-KL25Z Freedom Board, I programmed
          the LED lights and buzzer segments to coordinate with the car's
          movement. I also soldered the connections for the KL25Z, and assembled
          the motors to the chassis.
        </p>
        <p class="link">> Click for more information!</p>
        <a routerLink="/RTOS" class="stretched-link"></a>
      </div>
    </div>

    <div class="grid-item">
      <div class="card">
        <img src="../../../assets/bitStory.png" alt="" />
        <h4>bitStory!: A visual novel and rhythm game experience</h4>
        <p class="info">
          This project honed my abilities not only as a programmer, but also as
          a musician as well. I programmed the beatmap system of the rhythm game
          in C# with Unity, and composed all the music used for this segment. In
          addition, I designed the user interface and implemented the logical
          flow between menu, rhythm game and visual novel components.
        </p>
        <p class="link">> Click for more information!</p>
        <a routerLink="/bitstory" class="stretched-link"></a>
      </div>
    </div>
  </div>
</div>
