video {
  width: 75%;
  height: 500px;
  border: 3px solid purple;
  border-radius: 5px;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

body {
  line-height: 250%;
}

.container {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

h4 {
  text-align: center;
}

p {
  font-size: 20px;
  text-align: justify;
}

ol {
  line-height: 200%;
}

ul {
  line-height: 200%;
}

li {
  font-size: 18px;
}

.header {
  font-size: larger;
}

.subheader {
  margin-left: 5%;
}

.subsubheader {
  margin-left: 10%;
}
