<div class="container">
  <h1 id="title">My Skills</h1>
  <br />
  <div class="bigbar">
    <div class="bar" id="java">
      <p class="label">Java</p>
    </div>
  </div>

  <div class="bigbar">
    <div class="bar" id="html"><p class="label">HTML</p></div>
    <div class="content">Null</div>
  </div>

  <div class="bigbar">
    <div class="bar" id="css"><p class="label">CSS</p></div>
  </div>

  <div class="bigbar">
    <div class="bar" id="cplusplus"><p class="label">C++</p></div>
  </div>

  <div class="bigbar">
    <div class="bar" id="angular"><p class="label">Angular</p></div>
  </div>

  <div class="bigbar">
    <div class="bar" id="javascript"><p class="label">&nbsp;JavaScript</p></div>
  </div>

  <div class="bigbar">
    <div class="bar" id="unity"><p class="label">&nbsp;Unity</p></div>
  </div>
</div>
